<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421349787622-naf0nd5s3hud8c7s716ijhbnn8qcflur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421349787622-naf0nd5s3hud8c7s716ijhbnn8qcflur</string>
	<key>API_KEY</key>
	<string>AIzaSyAqSpjowRtjd2G6xP3t4Uig8bMp3R4psuU</string>
	<key>GCM_SENDER_ID</key>
	<string>421349787622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clickCounter</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421349787622:ios:73082acea216915addb827</string>
</dict>
</plist>